.wrapper{
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
   
}
.left_hand{
    width: 25%;
    height:auto;
    color:rgb(8, 8, 8);
  
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);      
}
.left_hand_img{
    width: 100%;
    height:150px;
    background: #000; 
    display: flex;
    flex-direction: row;
}
.left_hand_menu{
    width: 100%;
    height: auto;
    padding: 0px 0 20px 0;
    background: #000;
    
}
.side{
color:red;
}
.left_hand_img_user{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left_hand_img_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
    font-family: sans-serif;
}
.left_hand_img_info>p{
    margin: 0;
    color:#fdc201;
    
    font-size: calc(5px + 17 * (100vw / 1280));
}
.left_hand_img_user >img{
    width: 80%;
    height: 80%;
}
.right_hand{
    width: 71%;
    height: auto;
    background: #cfcdcd;
    padding: 15px;

}
.right_hand_gallery{
    display: grid;
    grid-gap: 1vh;
    grid-template-columns: auto auto auto auto;
    width: 72%;
    grid-auto-flow: dense;
    /* margin: 40px auto; */
    
}
.right_hand_gallery .image{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.right_hand_gallery .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2px;
    filter: brightness(0.5) grayscale(1);
    transition: 0.3s ease-in-out;   
}
.right_hand_gallery .image:first-child {
   
    grid-column-start: span 2;
    grid-row-start: span 2;
}
.right_hand_gallery .image:nth-child(2n+1) {
    grid-row-start: span 2;
}
.right_hand_gallery .image:nth-child(4n+6) {
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.right_hand_gallery  .image img:hover {
    filter: brightness(1) grayscale(0);
    transform: scale(1.1);
}
.char {
    display: flex;
    width:100%;
    height:100%;
}


@media only screen and (min-width : 480px) and (max-width : 768px) {
    .right_hand_gallery {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
    .right_hand_gallery {
        display: grid;
        grid-template-columns: auto auto;
    }
}
@media only screen and (max-width: 320px) {
    .gallery .image {
        display: block;
        margin: 2% 0;
    }
    .right_hand_gallery .image img{
        filter: brightness(1) grayscale(0);
    }
}
